<% if @song && @song.errors.any? %>

    <div>
        <strong>Some issues with your song entry, please fix them:</strong>

        <ul>
            <% @song.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>

    </div>

<% end %>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add Song</h1>
        </div>
    </div>

    <form action='/songs', method='post'>

        <div>
            <label>Title:</label>
            <input type="text" name="title" value="<%= @song.title %>">
        </div>

        <div>
            <label>Author:</label>
            <input type="text" name="author" value="<%= @song.author %>">
        </div>

        <div>
            <label>URL:</label>
            <input type="text" name="url" value="<%= @song.url %>">
        </div>

        <div>
            <input type="submit" name="Submit">
        </div>

    </form>
</div>
