<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Home
                <small>Brought to you by Johnny Labs</small>
            </h1>
        </div>
    </div>


    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <h2>Instructions</h2>
            <p>Music Wall --> View all the songs</p>
            <p>Add Song --> Add a new song</p>
            <p>Register --> Create a new account</p>
            <p>Login --> Keep track of songs you add</p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->